h1{color: white;
    font-size: 10ch;
    text-decoration: underline;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;




}

h2{color:white;
    text-align: center;
    border: 1px solid grey;
    



}
form{
    text-align: center;
    
}

h1{ color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

a{color: white;


}